---
sidebar_position: 1
---

# Verification

To access the entire Discord Server, you have to get verified.

## Step 1 — Join the Discord Server

To start this journey, you need to join our **[Discord Server](https://butils.net/discord)**.

## Step 2 — Open the `#verify` channel

Click **[here](https://discord.com/channels/565867543152033822/1003666067161358477/)** to start the verification process.
Afterwards, read the information in the mentioned channel.

## Step 3 — Complete the process

Click the button below the message in `#verify`. 
Afterwards, you will see a **number** in the message.
You have to click the button with this **given number**. 
This process will **repeat two times** with other numbers.

If you fail, you will be timed out and you may repeat this process after the given time.
If you succeed, you can access the entire Discord Server.
